## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
# application_df = pd.read_csv("../Resources/charity_data.csv")
application_df = pd.read_csv("/content/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

#### What variable(s) are the target(s) for the model?

The target variable for the model is the IS_SUCCESSFUL variable that indicates whether the money was used effectively.

#### What variable(s) are the feature(s) for the model?

The feature variables will by APPLICATION_TYPE, AFFILIATION, CLASSIFICATION, USE_CASE, ORGANIZATION, STATUS, INCOME_AMT, SPECIAL_CONSIDERATIONS, AND ASK_AMT.

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# cutoff value is 500

values_df = application_df["APPLICATION_TYPE"].value_counts().rename_axis('app_types').reset_index(name='counts')
values_df = values_df[values_df['counts'] < 500]
application_types_to_replace = values_df['app_types'].tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# cutoff value is 1000

class_values_df = application_df["CLASSIFICATION"].value_counts().rename_axis('classification').reset_index(name='counts')
class_values_df = class_values_df[class_values_df['counts'] < 1000]
classifications_to_replace = class_values_df['classification'].tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_data = pd.get_dummies(application_df)
dummy_data.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [12]:
# Split our preprocessed data into our features and target arrays
y = dummy_data["IS_SUCCESSFUL"].values
X = dummy_data.drop("IS_SUCCESSFUL", axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1872)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train.columns)
layer1_nodes = 86
layer2_nodes = 43

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer1_nodes, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=layer2_nodes, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 86)                3784

 dense_4 (Dense)             (None, 43)                3741

 dense_5 (Dense)             (None, 1)                 44

=================================================================
Total params: 7,569
Trainable params: 7,569
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# mc = tf.keras.callbacks.ModelCheckpoint('weights{epoch:03d}.h5', 
#                                      save_weights_only=True, save_freq=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [ ]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

In [28]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[mc])

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7422
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5328 - accuracy: 0.7413
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7417
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7419
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7414
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7415
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7420
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7414
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7416
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7420
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7419
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7423
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7419
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7423
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7412
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7419
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7425
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7422
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7420
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7423
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7421
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7417
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7420
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7422
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7416
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7423
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7422
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7423
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7421
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7417
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7423
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7418
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7424
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7423
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7420
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7423
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7429
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7415
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7420
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7418
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7423
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7418
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7425
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7418
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7411
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7424
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7427
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7418
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7424
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7427
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5308 - accuracy: 0.7419
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7424
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7430
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7423
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7421
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7423
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7416
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7431
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7424
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5307 - accuracy: 0.7427
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7425
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7418
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7423
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7425
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7421
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7423
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7420
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7425
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7428
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7418
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7423
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7428
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7425
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7427
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7424
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7426
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7430
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7420
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7423
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7430
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7423
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7421
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7424
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7427
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7426
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5300 - accuracy: 0.7421
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7429
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7422
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7431
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7421
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7427
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7425
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7424
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7425
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7425
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7429
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7427
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7425
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7426
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7427

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5656 - accuracy: 0.7251 - 509ms/epoch - 2ms/step
Loss: 0.5656004548072815, Accuracy: 0.7251312136650085

In [29]:
history_df = pd.DataFrame(fit_model.history)
history_df.index += 1
history_df

         loss  accuracy
1    0.532339  0.742225
2    0.532753  0.741292
3    0.532165  0.741720
4    0.532270  0.741875
5    0.532471  0.741370
..        ...       ...
96   0.529997  0.742925
97   0.529980  0.742730
98   0.529953  0.742536
99   0.530855  0.742575
100  0.529830  0.742692

[100 rows x 2 columns]

In [23]:
# nn.save("/content/nn_model.hdf5")

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE